<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/employee/css/employee.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/common/select/select2.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 树 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">员工列表</div>
            <div class="layui-card-body">
                <!-- 表格主体 -->
                <table class="layui-hide" id="employeeTable" lay-filter="test"></table>
                <!-- 模板 -->
                <script type="text/html" id="employeeTableToolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="addData">新增<i class="layui-icon layui-icon-add-1"></i></button>
                        <input type="text" id="queryByName" name="queryByName" autocomplete="off"
                               placeholder="输入员工姓名" class="layui-input layui-btn-sm">
                        <button class="layui-btn layui-btn-sm" lay-event="query">查询<i class="layui-icon layui-icon-search"></i></button>
                    </div>
                </script>
                <script type="text/html" id="employeeTableBar">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑<i class="layui-icon layui-icon-edit"></i></a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除<i class="layui-icon layui-icon-close"></i></a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">操作表单</div>
            <div class="layui-card-body">
                <form id="employeeForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号<i class="layui-icon layui-icon-username"></i></label>
                        <div class="layui-input-block">
                            <input type="text" id="account" name="account" placeholder="请输入员工用于访问系统的账号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码<i class="layui-icon layui-icon-password"></i></label>
                        <div class="layui-input-block">
                            <input type="text" id="passwordText" name="passwordText" placeholder="请输入员工用于访问系统的密码" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" autocomplete="off" placeholder="员工姓名"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">年龄</label>
                        <div class="layui-input-block">
                            <input type="text" name="age" autocomplete="off" placeholder="年龄"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" autocomplete="off" placeholder="电话号码"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">教育程度</label>
                        <div class="layui-input-block">
                            <input type="text" name="education" autocomplete="off" placeholder="教育程度"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">所属班组</label>
                        <div class="layui-input-block">
                            <select id="department-select" name="departmentId" class="layui-select" >
                                <option value="" selected>请选择班组</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtCreated" autocomplete="off" placeholder="创建时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtModified" autocomplete="off" placeholder="更新时间"
                                   class="layui-input" readonly="readonly" disabled="disabled">
                        </div>
                    </div>

                    <!-- 隐藏域 -->
                    <input type="text" name="id" hidden="hidden"/>
                    <input type="text" id="password" name="password" hidden="hidden"/>
                </form>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" onclick="employeeFormSave()">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // 支持自动填充表单功能
    jQueryExtend.fnExtend();
</script>
<!-- js -->
<script th:src="@{/common/encrypt/md5.js}" type="text/javascript"></script>
<script th:src="@{/common/select/select2.min.js}" type="text/javascript"></script>
<script th:src="@{/common/select/i18n/zh_CN.js}" type="text/javascript"></script>
<script th:src="@{/employee/js/employee.js}"></script>
</html>