<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/equipment/css/equipment.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 隐藏域 -->
    <input type="text" id="equipmentId" th:value="${equipmentId}" hidden="hidden"/>
    <input type="text" id="departmentId" th:value="${departmentId}" hidden="hidden"/>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">维护计划列表</div>
            <div class="layui-card-body">
                <!-- 表格主体 -->
                <table class="layui-hide" id="equipmentMaintenancePlanTable" lay-filter="test"></table>
                <!-- 模板 -->
                <script type="text/html" id="equipmentMaintenancePlanTableToolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="addData">新增<i class="layui-icon layui-icon-add-1"></i></button>
                        <input type="text" id="queryByName" name="queryByName" autocomplete="off"
                               placeholder="输入设备维护计划名称" class="layui-input layui-btn-sm">
                        <button class="layui-btn layui-btn-sm" lay-event="query">查询<i class="layui-icon layui-icon-search"></i></button>
                    </div>
                </script>
                <script type="text/html" id="equipmentMaintenancePlanTableBar">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑<i class="layui-icon layui-icon-edit"></i></a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除<i class="layui-icon layui-icon-close"></i></a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">维护计划</div>
            <div class="layui-card-body">
                <form id="equipmentMaintenancePlanForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">维护项目</label>
                        <div class="layui-input-block">
                            <select id="maintenance-type-select" name="maintenanceTypeId" class="layui-select" >
                                <option value="" selected>请选择维护项目</option>
                            </select>

                            <a class="layui-btn" onclick="openMaintenanceType()">管理维护项目</a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维护人员</label>
                        <div class="layui-input-block">
                            <select id="maintenance-operator-select" name="maintenanceOperator" class="layui-select" >
                                <option value="" selected>请选择维护人员</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维护部件</label>
                        <div class="layui-input-block">
                            <input type="text" name="part" autocomplete="off" placeholder="维护部件"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维护内容</label>
                        <div class="layui-input-block">
                            <input type="text" name="maintenanceContent" autocomplete="off" placeholder="维护内容"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工作标准</label>
                        <div class="layui-input-block">
                            <input type="text" name="workStandard" autocomplete="off" placeholder="工作标准"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">维护周期</label>
                        <div class="layui-input-block">
                            <input type="text" name="schedule" autocomplete="off" placeholder="维护周期"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtCreated" autocomplete="off" placeholder="创建时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtModified" autocomplete="off" placeholder="更新时间"
                                   class="layui-input" readonly="readonly" disabled="disabled">
                        </div>
                    </div>

                    <!-- 隐藏域 -->
                    <input type="text" name="id" hidden="hidden"/>
                    <input type="text" name="equipmentId" hidden="hidden"/>
                </form>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" onclick="equipmentMaintenancePlanFormSave()">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    // 支持自动填充表单功能
    jQueryExtend.fnExtend();
</script>
<!-- js -->
<script th:src="@{/equipment/js/equipment_maintenance_plan.js}"></script>
</html>