<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/equipment/css/equipment.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 树 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">设备列表</div>
            <div class="layui-card-body">
                <!-- 表格主体 -->
                <table class="layui-hide" id="equipmentTable" lay-filter="test"></table>
                <!-- 模板 -->
                <script type="text/html" id="equipmentTableToolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="addData">新增<i class="layui-icon layui-icon-add-1"></i></button>
                        <input type="text" id="queryByName" name="queryByName" autocomplete="off"
                               placeholder="输入设备名" class="layui-input layui-btn-sm">
                        <button class="layui-btn layui-btn-sm" lay-event="query">查询<i class="layui-icon layui-icon-search"></i></button>
                    </div>
                </script>
                <script type="text/html" id="equipmentTableBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑<i class="layui-icon layui-icon-edit"></i></a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除<i class="layui-icon layui-icon-close"></i></a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">操作表单</div>
            <div class="layui-card-body">
                <form id="equipmentForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备名</label>
                        <div class="layui-input-block">
                            <input type="text" name="equipmentName" autocomplete="off" placeholder="设备名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="equipmentNumber" autocomplete="off" placeholder="设备编号"
                                   class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtCreated" autocomplete="off" placeholder="创建时间"
                                   class="layui-input" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">更新时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="gmtModified" autocomplete="off" placeholder="更新时间"
                                   class="layui-input" readonly="readonly" disabled="disabled">
                        </div>
                    </div>
                </form>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a class="layui-btn" onclick="equipmentFormSave()">保存</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/equipment/js/equipment_info.js}"></script>
</html>